<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TimesTables.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4BDB381C1C5B84A700D4956C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BDB38301C5B84A800D4956C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BDB383B1C5B84A800D4956C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
