<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableViews.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4BDB37E21C5B7DF300D4956C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BDB37F61C5B7DF400D4956C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BDB38011C5B7DF400D4956C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
